.Landing {
    .home-text h3 {
        font-size: 2.5em;
    }
    .home-text p {
        font-size: 1.5em;
    }
}

.img-fluid {
    height: 40vh !important;
}

@media screen and (max-width: 500px) {
    .img-fluid {
        height: 30vh !important;
    }
}